extends layout

block content
  h1= title
  p Welcome to #{title}

  table(class=["table", "table-striped"])
    tr
      th
      - for (var j = 1; j <= 3; j++) {
        th=j
      - } 
    - for (var i = 1; i <= 3; i++) {
      tr
          th=i
          - for (var j = 1; j <= 3; j++) {
            td=i*j
          - }
    - }
  form
    div(class="mb-3")
      label(for="exampleInputEmail1",class="form-label").
        Email address
      input(type="email",class="form-control",id="exampleInputEmail1",aria-describedby="emailHelp")
      div(id="emailHelp",class="form-text").
        We'll never share your email with anyone else.
    div(class="mb-3")
      label(for="exampleInputPassword1", class="form-label").
        Password
      input(type="password", class="form-control", id="exampleInputPassword1")
    div(class="mb-3 form-check")
      input(type="checkbox", class="form-check-input", id="exampleCheck1")
      label(class="form-check-label", for="exampleCheck1").
        Check me out
    button(type="submit", class="btn btn-primary").
      Submit
